.head {
    border: 1.5px solid darkgray;
    padding: 1em;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-chart {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}