<div class="assignment">
    <b>Assignment 2</b><br/>
    <a href="./assignment/2/string-magic">Textarea String Magic</a>
    <br/>
    <a href="./assignment/2/hero-converter">Hero converter</a>
    <br/>
    <a href="./assignment/2/number-khela">Number khela</a>
</div>

<style>
    .assignment a:hover {
        color: black;
        box-shadow: #99BAE1 1px 10px 10px;
    }

    .assignment a {
        color: #340000;
        margin: 1em;
    }

    .assignment {
        text-align: center;
    }
</style>
