extends layout

block content
	div(class="jumbotron text-center")
		h1 Your feedback for Robin Mollah
	div(class="row")
		div(class="col-sm-8")
			div(class="question-block text-center")
				//- TODO show 1 out of 6 question progress bar
				b(id="question" data-qid=1) Sample Question
				textarea(style="background-color: #f3e5f5;font-size: 1.4em;border: 2px solid black;", class="form-control", rows="4", id="answer")
		div(class="col-sm-2 d-flex align-items-center justify-content-center")
			button(id="skipButton", class="btn btn-secondary my-2 mx-2 align-middle") Skip
		div(class="col-sm-2 d-flex align-items-center justify-content-center")
			button(id="submitButton", class="btn btn-primary my-2 mx-2 align-middle") Submit
	div(class="card", style="width: 18rem;")
		img(src="./images/Android.png", class="card-img-top", alt="...")
		div(class="card-body")
			h5(class="card-title") Card title
			p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
			a(href="#", class="btn btn-primary") Go somewhere
	script(type="text/javascript", src="./javascripts/review/review.js")
