doctype html
html
	head
			title Ask a question or write an anonymous message to Robin
			script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(property="og:title", content="Ask a question or write an anonymous message to Robin")
			meta(property="og:description", content="Take 2-3 minutes to write an anonymous message for Robin")
			meta(property="og:image", content="http://properbd.net/images/anonicon.png")
			link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Saira|Saira+Condensed&display=swap')
			link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
			link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', crossorigin="anonymous")
			script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
			script(type='text/javascript', src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
			link(rel='stylesheet', href='./stylesheets/review/styles.css')
			script(type="text/javascript").
				setTimeout(function(){
					location = '';
				}, 95500);
body
	div(class="container-fluid")
		block content
