doctype html
html
	head
		title Covid 19 Situation Room
		script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Saira|Saira+Condensed&display=swap')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='./stylesheets/covid19/styles.css')
		script(type="text/javascript").
			setTimeout(function(){
				location = '';
			}, 95500);
	body
		block content
