extends layout

block content
	div(class="ek-page")#top
		include parts/resume/topbar
		h1(class="animBor")
			span(class="first-name")= "Robin "
			span(class="last-name") Mollah
		br
		include sections/quote
		div(id="next-page-holder")
			div(id="next-page") &#11015;
		div
			span
	include parts/resume/search-skill.pug
	include parts/resume/project-showcase.pug
	include parts/resume/experiences.pug
	p(id="cv_content").
		I started coding from an early age because I believe through technology I can make a huge national and global impact.
		I would love to be a contributor in creating a history of technology-based society.
		Being part of something that makes an upgrade in any part of this world is the most desired dream of my life.
	br
	script(type="text/javascript" src="/javascripts/skill-viewer.js")
	script.
		document.getElementById("next-page").addEventListener("click", function(){
			document.getElementById("skill-search").scrollIntoView({behavior: "smooth", inline: "nearest"});
		});
	//- TODO Add skill icons
	//- TODO Add Card animation
	//- TODO Add short description
	//- TODO Add social icons
	//- TODO Add blogs
	style.
		.ek-page {
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		#next-page, #next-page:active {
			color: black;
			font-size: 2em;
			text-align: center;
			position: relative;
		}

		#next-page-holder {
			text-align: center;
		}


		#cv_content {
			padding: 1em;
		}


		button {
			background: steelblue;
			color: white;
			margin: 1em;
			width: 20%;
			height: 40px;
			border: none;
			border-radius: 0.5em;
			transition: font-size 0.3s;
		}

		button:hover {
			font-size: 32px;
		}

		.list {
			color: steelblue;
			background: #dcd9d9;
			text-align: left;
			min-width: 170px;
			border: 1px solid steelblue;
		}

		.list p {
			transition: background-color, color 0.3s;
			padding: 1em 1em;
			margin: 0em;
		}

		.list p:hover {
			background: #6ba8a9;
			color: white;
		}

		.list p.selected {
			background: #6ba8a9;
			color: white;
		}
