doctype html
html
  head
    title Robin Mollah
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="https://code.jquery.com/jquery-1.9.1.min.js")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Saira|Saira+Condensed&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/experiences.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(type="text/javascript").
      setTimeout(function(){
        location = '';
      }, 95500);
  body
    block content
