body {
  font: 14px 'Saira', 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: darkorchid;
}

a:hover {
  color: aliceblue;
}



h1.animBor {
  font-size: 6em;
  margin: 0em;
  transition: border-bottom 0.5s;
  text-align: center;
}

h1.animBor:hover {

}

table {
  border-collapse: collapse;
}

#field-of-expertise {
  display: none;
}

#experiences {
  display: none;
}

#education {
  display: none;
}

.first-name {
  color: #00796B;
  font: 14px 'Saira Condensed', sans-serif;
  font-weight: 900;
  font-size: inherit;
}

.first-name:hover {
  border-bottom: 1px solid steelblue;
}

.last-name:hover {
  border-bottom: 1px solid steelblue;
}

.last-name {
  color: black;
}

.skill-section {
  border: 1px solid #4086AA;
  background-color: #99BAE1;
  padding: 1em;
  margin: 0.5em;

  display: flex;
  flex-direction: column;
  border-radius: .5em .5em 1em 1em;
  transition: border-bottom-left-radius 0.5s;
}

.skill-name {
  font-size: 3em;
  font-weight: bold;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  border-radius: 1em;
  background-color: white;
  font-weight: 400;
  margin: 0.5em;
  padding: 0.3em 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill:hover {
    box-shadow: 0em 0em 1em black;
    background-color: steelblue;
    color: white;
}

.tabs {
  border-radius: 1.5em;
  border: 1px solid black;
  margin: 1em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: steelblue;
}

.tab {
  font-weight: bold;
  color: white;
  background-color: steelblue;
  height: 100%;
  width: 100%;
  padding: 1em;
  border: 1px solid black;
}

.tab-active {
  background-color: lightsteelblue;
}

.tab-left {
  border-bottom-left-radius: 1.5em;
  border-top-left-radius: 1.5em;
}

.tab:hover {
  box-shadow: -5px -0px 10px black;
}

.tab-right {
  border-bottom-right-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
