html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #6ba8a9, #9deced);
}

.jumbotron {
    background-color: #1d4d4f;
    color: #e5dfdf;
}

h1.header-text {
    text-shadow: 0px 8px 8px black;
}

b#question {
    font-size: 1.6em;
}

textarea {
    font-size: 1.4em;
}

button.btn {
    font-size: 1.5em;
    box-shadow: 0px 1px 10px black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.review-url {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.submit-success {
    display: none;
}

div.submit-error {
    display: none;
}

div.submitting {
    display: none;
}