div(class="skill-section")
	div
		span(class="company-name") Brac University
		span(class="location") Mohakhali
		span —
		span(class="designation") BSc in CSE
		br
		span(class="duration") December 2017 - December 2021
		br
		span 3rd in intra-university programming contest. Met a lot of enthusiastic tech geeks.