div(class="skill-section")#experiences
	div
		img.company-icon(src="./images/Gobubble_512x512bb.jpg")
		a.company-name(href="https://gobubblehq.com") GoBubble Limited
		span.location Chester, UK
		span —
		span.designation Software Engineer
	div
		span.duration May 2022 - Present
	div.responsibilities
		ul
			li Developing and maintaining Python backend services
			li Developing and maintaining Angular frontend services
			li Maintaining cloud infrastructure in Azure and GCP
			li Scaling PostgreSQL and MongoDB databases
			li Maintaining and updating integration with social media platforms
			li Regular security analysis
div(class="skill-section")
	div
		img.company-icon(src="./images/eagle3d-logo.png")
		a(class="company-name", href="https://eagle3dstreaming.com" target="_blank") Eagle 3D Streaming
		span(class="location") Texas, USA
		span —
		span(class="designation") DevOps Engineer
	div
		span(class="duration") June 2020 - April 2022
	div(class="responsibilities")
	ul
		li Setting up Virtual Private Cloud in AWS WaveLength for 5G
		li Making serverless applications using AWS CloudFormation
		li Used Cloud Services:
			table(border="1")
				tr
					td(rowspan="7") AWS
					td Lambda
				tr
					td EC2
				tr
					td ECS
				tr
					td Chime SDK for VoIP
				tr
					td Route 53
				tr
					td S3
				tr
					td ...and more
				tr
					td(rowspan="2") Google Cloud Platform
					td AppEngine
				tr
					td Datastore
				tr
					td(rowspan="3") Firebase
					td Auth
				tr
					td Functions
				tr
					td DB
		li Setting up network for on-premise server
		li Writing network sensitive NodeJS application
div(class="skill-section")
	div
		img.company-icon(src="./images/bonton-logo.jpg")
		a(class="company-name", href="https://bonton.app" target="_blank") Bonton Connect
		span(class="location") Dhaka, Bangladesh
		span —
		span(class="designation") Software Engineer
	div
		span(class="duration") December 2019 - Present
	div(class="responsibilities")
		ul
			li Developing Android App
			li Designing and developing network and security sensitive programs in nodejs and kotlin
			li Raspberry Pi
			li React Native and ReactJS app
			li Browser automation using Puppeteer
div(class="skill-section")
	div
		a(class="company-name", href="https://viewtek.es" target="_blank") ViewTek
		span(class="location") Malaga, Spain
		span —
		span(class="designation") Offsource Web Dev
		br
		span(class="duration") March, 2019-April, 2019
		br
		span(class="responsibilities").
			Worked as a freelancer to make a UI that looks completely like iOS and all javascript complex bug
			fixes in NodeJS server.
