div(class="skill-section")
	div
		span(class="company-name") Bonton Connect
		span(class="location") Dhaka, Bangladesh
		span —
		span(class="designation") Software Engineer
	div
		span(class="duration") December 2020 - Present
	div(class="responsibilities").
		Programming routers, raspberry pi, developing Android App in React, Test automation using Puppeteer
div(class="skill-section")
	div
		span(class="company-name") ViewTek.es
		span(class="location") Malaga, Spain
		span —
		span(class="designation") Offsource Web Dev
		br
		span(class="duration") March, 2019-April, 2019
		br
		span(class="responsibilities").
			Worked as a freelancer to make a UI that looks completely like iOS and all javascript complex bug
			fixes in NodeJS server.
a(class="link" src="/projects") Projects